<!-- <div>
    <section class="prosecutor">
        <h2>Досье прокурора</h2>
        <app-sins-uploader></app-sins-uploader>
    </section>
    <section class="lawyer">
        <h2>Досье адвоката</h2>
        <app-sins-uploader></app-sins-uploader>
    </section>
    <br>
    <br>
</div> -->

<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>

<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-siderbar></app-siderbar>
    </mat-drawer>
    <mat-drawer-content>
        <div>
            <app-souls-page></app-souls-page>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>