<h1 mat-dialog-title>Внешние интерфейсы</h1>
<div mat-dialog-content>
    Для связи с командой можно обращаться ко всем членам команды посредством сообщений в социальной сети ВКонтакте
    :
<ul>
<li>
<span *ngIf="data.animal === 'panda'">&#10003;</span> Хлопков Дмитрий - <a href="https://vk.com/id116575477" target="blank_">https://vk.com/id116575477</a> 
</li>
<li>
<span *ngIf="data.animal === 'unicorn'">&#10003;</span> Баев Дмитрий - <a href="https://vk.com/dmitry.baev" target="blank_">https://vk.com/dmitry.baev</a>
</li>
<li>
<span *ngIf="data.animal === 'lion'">&#10003;</span> Цзиюань Чан - <a href="https://vk.com/cjynoodles" target="blank_">https://vk.com/cjynoodles</a>
</li>
</ul>
</div>
