<h1 mat-dialog-title>Определения и аббревиатуры</h1>
<div mat-dialog-content>
<ul>
<li>
<span *ngIf="data.animal === 'panda'">&#10003;</span> Рай - место и состояние вечной совершенной жизни  
</li>
<li>
<span *ngIf="data.animal === 'unicorn'">&#10003;</span> Ад - ужасное, посмертное место наказания грешников, испытывающих в нём муки и страдания.
</li>
<li>
<span *ngIf="data.animal === 'lion'">&#10003;</span> Круг ада - нумерованная (от 1 до 9) область ада, ответственная за проведение пыток определенного вида грешников. Жестокость пыток увеличивается с увеличением номера круга
</li>
<li>
    Небо рая - нумерованная (от 1 до 10) область рая. Каждое небо окружает следующее по номеру небо. Чем небо ближе к центру, тем более блаженные души обитают в нем
</li>
<li>
    Небесный суд - суд над новым клиентом предприятия “Загробная Жизнь”, который определяет куда направить клиента: в ад или в рай, а также в какую его область (круг/небо) он должен попасть
</li>
</ul>
</div>
