<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h3>Хлопков Дмитрий</h3>
            <h3>Баев Дмитрий</h3>
            <h3>Чан Цзиюань</h3>
        </div>
        <img src="http://2.bp.blogspot.com/-zc0RcbE0g_o/VB3P1w_8moI/AAAAAAAAKpM/-R8PKbBjI4I/s1600/4bdbee2b6f42f.jpg" alt="Хлопков Дмитрий">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Страница со списком прибывших душ</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/survey">Страница с опросами</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>