<h1 mat-dialog-title>New Survey</h1>
<div mat-dialog-content>
  <form [formGroup]="addSurveyForm" (submit)="createSurvey()">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" formControlName="title">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </p>  
    <p>
      <mat-form-field appearance="outline">
        <mat-label>DocumentUrl</mat-label>
        <input matInput placeholder="DocumentUrl" formControlName="url" type="url">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </p> 
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" formControlName="addressee">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </p> 

    <p>
      <button mat-stroked-button color="primary">Create Survey</button>
    </p>
  </form>
</div>

<button mat-stroked-button color="warn" (click)="closeDialog()">Close</button>

