mat-drawer {
  width: 350px;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
}
.demo-table {
  width: 100%;
}
.demo-button-container {
  padding-bottom: 16px;
}
.demo-button + .demo-button {
  margin-left: 8px;
}
