<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">Страница с опросами</h1>
        <div class="d-flex">
            <button class="btn btn-success">Добавить опросы</button>
        </div>
    </div>
</nav>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Имя опроса</th>
            <th scope="col">Создано пользователем</th>
            <th scope="col">Для</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Опрос качества</td>
            <td>
                <a href="https://www.google.com/intl/ru_ru/forms/about/" target="_blank">google sheet</a>
            </td>
            <td>Пыточники</td>
            <td>
                <button class="btn btn-info">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
