<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>

    <mat-drawer-container>
        <mat-drawer mode="side" [opened]="sideBarOpen">
            <app-siderbar></app-siderbar>
        </mat-drawer>
        <mat-drawer-content>



            <nav class="navbar navbar-light bg-primary">
                <div class="container-fluid">
                    <h1 style="color: aliceblue;">Страница с опросами</h1>
                </div>
            </nav>
        
            <div class="tab-content mt-3" id="myTabContent">
                <div class="mb-3 float-right">
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-info" data-toggle="modal" mat-button (click)="openDialog()">
                        <i class="fa fa-plus"></i>New Survey
                        </button>
                    </div>
<!--                     <div class="btn-group">
                        <button type="button" class="btn btn-info">
                          <i class="fas fa-sync fa-spin"></i><i class="fas fa-sync"></i>
                        </button>
                    </div> -->
                </div>
            </div>

            <table class="table table-hover">
                <thead class="table-borderless"> 
                    <tr class="text-center">
                        <th>ID</th>
                        <th>TITLE</th>
                        <th>DOCUMENT</th>
                        <th>ADDRESS</th>
                    </tr>
                </thead>
                <tbody *ngFor="let info of surveys">
                    <tr class="text-center">
                        <td>{{info.id}}</td>
                        <td>{{info.title}}</td>
                        <td><a href="{{info.url}}" target="_blank">{{info.url}}</a></td>
                        <td>{{info.addressee}}</td>
                    </tr>
                </tbody>
            </table>

        </mat-drawer-content>
    </mat-drawer-container>
<app-footer></app-footer>
