<h1 mat-dialog-title>Вакасия</h1>
<mat-divider></mat-divider>
<form class="Name">
    <mat-label>ФИО: </mat-label>
    <input matInput placeholder="name" value="">
</form>
<div mat-dialog-content>Должность: Архангел</div>
<div mat-dialog-content>Место работы: Рай</div>
<mat-divider></mat-divider>
<div>
    <h3 mat-dialog-title>Документ</h3>
    <app-file-uploader></app-file-uploader>
</div>
<div mat-dialog-actions>
<button mat-button mat-dialog-close (click)="closeDialog()">Close</button>
</div>

