<mat-tab-group dynamicHeight>
    <mat-tab label="Открыта">
        <div class="example-large-box mat-elevation-z4">
            <button mat-button (click)="openDialog()" id="open">На следующий</button>
        </div>
    </mat-tab>
    <mat-tab label="В поиске">
      <div class="example-large-box mat-elevation-z4">
        <div>
          <h1>Вакансия</h1>
          <h3>Место работы: Рай</h3>
          <h3>Должность: Архангел</h3>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Назначено собеседование">
        <div class="example-large-box mat-elevation-z4">
          <div>
            <h4>ФИО: Hydrogen</h4>
            <mat-divider></mat-divider>
            <h4>Должность: Архангел</h4>
            <h4>Время: 09.10.2021</h4>
            <h4>Интервьюер: HR</h4>
          </div>
        </div>
    </mat-tab>
    <mat-tab label="Найдено">
        <div class="example-large-box mat-elevation-z4">
          <div>
            <h4>ФИО: Boron</h4>
            <mat-divider></mat-divider>
            <h4>Должность: Пыточник</h4>
            <h4>Место работы: Ад</h4>
          </div>
        </div>
    </mat-tab>
    <mat-tab label="Закрыта">
        <div class="example-large-box mat-elevation-z4">
          <div>
            <h1>Вакансия</h1>
            <mat-divider></mat-divider>
            <h4>Должность: Пыточник</h4>
            <h4>Место работы: Рай</h4>
          </div>
        </div>
    </mat-tab>
</mat-tab-group>
